.container-addpostview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../Images/paisaje.jpg');
    background-size: cover;
    background-position: center;
  }  