.header-container {
  padding: 0.5%;
  background: linear-gradient(to top,rgba(0, 6, 15, 0.817), rgba(39, 123, 226, 0.922));
}

.header-title {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.gradient-text {
  background: linear-gradient(to right, #f7f7f7, #d4d5d0); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
