.navbar-container {
  padding: 10px;
  background-color: #343a40;
}

.navbar-container a {
  color: #fff;
  margin-right: 10px;
}

.navbar-container .spaced {
  margin-right: 50px;
}

.navbar-container .nav-link {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: all 0.3s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.511);
}

.navbar-container .nav-link:hover {
  transform: scale(1.5);
  background-color: #f8f9fa;
  color: #e0e07dc3;
}

.hamburger-icon {
  color: #fff;
}